@font-face {
  font-family: "pacifico";
  src: url("/fonts/Pacifico-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}

:root {
  --primary-color: #000;
  --bg-home: 0;
  --bg-about: #fff;
  --bg-cv: #4169E1;
  --bg-projects: #F5F5F5 ;
  --logo-color: #1e90f4;
  --text-p: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* nav-colors*/
  --bg-nav: rgba(255, 255, 255, 0.8);
  --text-nav: #000;


  /* projects color */
  --bg-project: #fff;

  --bg-colaboradores: #fff;

  --bg-certificado: #EDEDED;

  --bg-contacto: #fff;

}
.theme-dark {
  --primary-color: #fff;
  --bg-home: 0.4;
  --bg-about: #111;
  --bg-cv: #4169E1;
  --bg-projects: #222222;
  --logo-color: #1e90f4;
  --text-p: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* nav-colors*/
  --bg-nav: rgba(10, 10, 10, 0.7);
  --text-nav: #fff;


  /* projects color */
  --bg-project: #444444;

  --bg-recomendaciones: #333;

  --bg-colaboradores: #333;

  --bg-certificado: rgb(43, 43, 43);

  --bg-contacto: #333;

}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar{
  display: none;
}

.navigation-var {
  position: fixed;
  display: flex;
  font-family: monospace;
  background: var(--bg-nav);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 1s;
}


.navigation-var ul {
  display: flex;
  gap: 30px;
  margin-right:20px;
}

.navigation-var ul li {
  list-style: none;
  height: 100%;
  cursor: pointer;
  color: var(--text-nav);
}

.navigation-var ul li a {
  color: var(--text-nav);
  text-decoration: none;
  font-size: 15px;
}

/* .navigation-var ul li a:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #0078d4;
  transition: 0.3s;
} */
.logo {
  margin-left: 30px;
  font-size: 30px;
  color: var(--text-nav);
  text-decoration: none;
  font-family: pacifico;
}

.logo span {
  color: var(--logo-color);
}

.desplegable {
  position: relative;
  margin-right: 15px;
  display: none;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 200;
}

.desplegable .bar,
.desplegable:after,
.desplegable:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
  margin: 6px 0px;
  transition: 0.4s;
}

.desplegable.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.desplegable.is-active .bar {
  opacity: 0;
}
.desplegable.is-active::after {
  transform: rotate(45deg) translate(-9px, -9px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: #12002f;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav a {
  display: blcok;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 16px;
  margin-bottom: 16px;
  padding: 12px 16px;
  background-color: #1f103f;
  color: #fff;
  text-decoration: none;
}
.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a:hover {
  background-color: #211f44;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222223;
  padding: 4rem;
  text-align: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.footer span {
  width: 100%;
  font-size: 30px;
  font-family: var(--text-p);
  color: #fff;
  bottom: 0;
  text-align: center;
}

.lang-phone{
  display: none;
}

@media screen and (max-width: 1100px) {
  .navigation-var ul {
    display: none;
  }
 .desplegable {
    display: block;
  }
  .lang-phone{
    display: block;
  }
}


@media screen and (max-width: 500px) {
  .navigation-var .logo {
    font-size: 20px;
  }
}
