---
import PageLayout from "../layouts/PageLayout.astro"
import '../styles/logros.css'
---

<PageLayout title="Logros">
    <div style="height: 100%; display: flex; background-color: rgb(43, 43, 43); align-items: center; justify-content: center;">
        <h1 style="font-size: 30px; color: #fff;">Proximamente...<h1>
    </div>
</PageLayout>