---
import "../styles/global.css"
const {name, image, description} = Astro.props
---

<div class="card">
    <img src={image} alt={name} width="100%" height="100%" />
    <div class="card__container">
      <h2><b>{name}</b></h2> 
      <p>{description}</p> 
    </div>
</div>
  